.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  margin-bottom: 255px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%;
  max-width: 25%;
}
.card_logo {
  width: 74px;
  height: 74px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.card_logo-border {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #e5e5e5;
  transition: border 0.2s linear, transform 0.2s linear;
}
.card_logo > img {
  transition: transform 0.2s linear;
  height: 60%;
  width: 60%;
}
.card_name {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-align: center;
  /* white-space: nowrap; */
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: color 0.2s linear;
  color: #6a6a6a;
}
.card_info {
  width: 90%;
  text-align: center;
  color: #999999;
}

.card:hover .card_logo-border {
  transform: rotate(-135deg);
  border-color: #e74c3c;
}

.card:hover .card_name {
  color: #e74c3c;
}

.delimeter {
  display: none;
}
@media (max-width: 768px) {
  .delimeter {
    width: 100% !important;
    display: block;
  }
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card:nth-child(1) {
    margin-bottom: 50px;
  }
  .card:nth-child(2) {
    margin-bottom: 50px;
  }
  .card_name {
    font-family: "Open Sans", sans-serif;
    font-size: 3.5vw;
  }
}
